{% extends 'demo/index.html' %}
{% load static %}

{% block header %}
{% load plotly_dash %}
{% plotly_header %}
{% endblock header %}

{% block name %}Tabular Data demo{% endblock name %}




{% block content %}
    <div class="col-xl-12 col-lg-12">
                            
    <div class="{% plotly_class name='MnistFashionDeepExplainer' %} card" style="height: 100%; width: 100%">
    {% plotly_direct name='MnistFashionDeepExplainer'%}
    </div>
</div>
{% endblock content %}


{% block footer %}
{% plotly_footer %}
{% endblock footer %}


{% comment %} <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div> {% endcomment %}